@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

.boric-logo
  background-color white
  mask-image: url('/media/BoricLogo.svg')
  mask-size: contain
  mask-repeat: no-repeat
  mask-position: center
  width: 0.8em
  aspect-ratio 16/9
  font-size: 8em

.tiktok-icon
  mask-image: url('/media/tiktok.svg')
  mask-size: contain
  mask-repeat: no-repeat
  mask-position: center
  height: auto
  width: 1rem

.v-application
  .primary
    background-color #ff1f81 !important
    border-color #ff1f81 !important
    color #ff1f81
  a
    color #ff1f81
